1.	Write a Python program to find sum of elements in list?

In [ ]:
a = [1,2,3,4,5,6,7,8,9]
sum = 0
for i in range(len(a)):
  sum += a[i]
print(sum)

45

2.	Write a Python program to  Multiply all numbers in the list?

In [ ]:
a = [1,2,3,4,5,6,7,8,9]
mul = 1
for i in range(len(a)):
  mul = mul * a[i]
print(mul)

362880

3.	Write a Python program to find smallest number in a list?

In [ ]:
a = [9,1,2,7,6,5,4,8,3]
min = a[0]
for i in range(len(a)):
  if a[i] < min:
    min = a[i]
print("Smallest number: ",min)

Smallest number:  1

4.	Write a Python program to find largest number in a list?

In [ ]:
a = [1,2,7,6,9,5,4,8,3]
large = a[0]
for i in range(len(a)):
  if a[i] > large:
    large = a[i]
print("largest number: ",large)

largest number:  9

5.	Write a Python program to find second largest number in a list?

In [ ]:
a = [1,2,7,6,9,5,4,8,3]
a.sort()
print("Second largest: ",a[-2])

Second largest:  8

6.	Write a Python program to find N largest elements from a list?

In [1]:
def N_max_elements(list, N):
    result_list = []
  
    for i in range(0, N): 
        maximum = 0
          
        for j in range(len(list)):     
            if list[j] > maximum:
                maximum = list[j]
                  
        list.remove(maximum)
        result_list.append(maximum)
          
    return result_list

list1 = [2, 6, 41, 85, 0, 3, 7, 6, 10]
N = 2

print(N, "max elements in ",list1)
print(N_max_elements(list1, N))

2 max elements in  [2, 6, 41, 85, 0, 3, 7, 6, 10]
[85, 41]

7.	Write a Python program to print even numbers in a list?

In [3]:
a = [1,2,7,6,9,5,4,8,3]
print("Even Numbers: ")
for i in range(len(a)):
  if a[i] % 2 == 0:
    print(a[i])

Even Numbers:
2
6
4
8

8.	Write a Python program to print odd numbers in a List?

In [4]:
a = [1,2,7,6,9,5,4,8,3]
print("odd Numbers: ")
for i in range(len(a)):
  if a[i] % 2 != 0:
    print(a[i])

odd Numbers:
1
7
9
5
3

9.	Write a Python program to Remove empty List from List?

In [5]:
lst = [[1, 2, 3], [1, 2], [], [], [], [1, 2, 3, 4], [], []]
print([ele for ele in lst if ele])

[[1, 2, 3], [1, 2], [1, 2, 3, 4]]

10.	Write a Python program to Cloning or Copying a list?

In [6]:
original_list = [10, 22, 44, 23, 4]
new_list = list(original_list)
print(original_list)
print(new_list)

[10, 22, 44, 23, 4]
[10, 22, 44, 23, 4]

11.	Write a Python program to Count occurrences of an element in a list?

In [1]:
def count_occurr(list,n):
  count = 0
  for i in list:
    if (i==n):
      count += 1
  return count

li = []
n = int(input("Enter size of list: "))
for i in range(0,n):
  e = int(input("Enter list element: "))
  li.append(e)
print("Original list: ", li)
x = int(input("Enter element to be checked: "))
print(x,"has occurred ",count_occurr(li,x),"times")

Enter size of list: 10
Enter list element: 1
Enter list element: 5
Enter list element: 1
Enter list element: 5
Enter list element: 4
Enter list element: 8
Enter list element: 9
Enter list element: 6
Enter list element: 4
Enter list element: 5
Original list:  [1, 5, 1, 5, 4, 8, 9, 6, 4, 5]
Enter element to be checked: 1
1 has occurred  2 times

In [2]:
li = ["a", "ab", "a", "abc", "ab", "ab"]

def countOccurrence(a):
  k = {}
  for j in a:
    if j in k:
      k[j] +=1
    else:
      k[j] =1
  return k

print(countOccurrence(li))

{'a': 2, 'ab': 3, 'abc': 1}