1.	Write a Python program to print "Hello Python"?

In [ ]:
print("Hello Python")

2.	Write a Python program to do arithmetical operations addition and division.?

In [2]:
a = 10
b = 5
c = a + b
d = a//b
print("Value Of C & D =",c , d)

Value Of C & D = 15 2

3.	Write a Python program to find the area of a triangle?

In [3]:
Base = 10
Height = 20
Area = 0.5 * Base * Height
print("Area of Triangle =", Area)

Area of Triangle = 100.0

4.	Write a Python program to swap two variables?

In [4]:
a = 5 
b = 10
print("Numbers before swapping", a, b)
temp = a
a = b
b = temp
print("Numbers after swap", a, b)

Numbers before swapping 5 10
Numbers after swap 10 5

In [5]:
a = 5
b = 6
print("Numbers before swapping", a, b)
a,b = b,a 
print("Numbers after swap", a, b)

Numbers before swapping 5 6
Numbers after swap 6 5

5.	Write a Python program to generate a random number?

In [6]:
import random
x = random.randint(10,50)
print(x)

15